
<html>
<head>
</head>
<body>
    <form *ngIf="showRegister == false">
    <div class="login-page">
        <div class="form">
            <h1>Login</h1>
            <input type="text" placeholder="username" [(ngModel)]="username" name="user"/>
            <input type="password" placeholder="password" [(ngModel)]="password" name="pass"/>
            <p class="alert">{{alertMeg}}</p>
            <button (click)="login(username,password)">login</button>
            <p class="message">Not registered? <a (click)="showPage()">Create an account</a></p>
        </div>
      </div>
    </form>

      <form *ngIf="showRegister == true">
        <div class="register-page bodyRegister">
          <div class="form">
            <h1>Register</h1>
            <div *ngFor="let image of formImage">
                <img type="image" class="img-circle center" [src]="image.path" style="width:40% ;height:40%"><br>
            </div>
                <div class="custom-file">
                  <input type="file" accept="image/*" class="custom-file-input" (change)="handleFileInput($event)">
                  <label class="custom-file-label" for="inputGroupFile01">{{imageName}}</label>
                </div><br>
            <input type="text" placeholder="username" [(ngModel)]="user_form" name="user"/>
            <input type="password" placeholder="password" [(ngModel)]="pass_form" name="pass"/>
            <input type="password" placeholder="confirm password" [(ngModel)]="confirmPass_form" name="confirmpass"/>
            <input type="text" placeholder="name" [(ngModel)]="name_form" name="name"/>
            <input type="text" placeholder="email address" [(ngModel)]="email_form" name="email"/>
            <input type="text" placeholder="tel" [(ngModel)]="phone_form" name="phone"/>
            <input type="text" placeholder="position" [(ngModel)]="position_form" name="position"/>
            <button (click)="createAccount()">create</button>
            <p class="message">Already registered? <a (click)="showPage()">Sign In</a></p>
          </div>
       </div>
    </form>

</body>
</html>