<html>

  <head></head>
  <body>

    <div>
        <span class="d-block p-2 bg-dark text-white text-center rounded">
          <form>
              <div class="p-3 mb-2 bg-primary text-white rounded h4">Profile</div>
              <div class="p-3 mb-2 bg-light rounded h4 textInfo">
                <img type="image" class="img-circle text-center" src="/assets/img/man.png" style="width:25% ;height:25%">
                <p class="text-center h5">Username: {{user_username}}</p>
                <p class="text-center h5">Name: {{user_name}}</p>
                <p class="text-center h5">Email: {{user_email}}</p>
                <p class="text-center h5">Position: {{user_position}}</p>
                <p class="text-center h5">Tel: {{user_tel}}</p>
                <p class="text-center h5">Role id: {{user_roleid}}</p>
              </div>
              <div class="p-3 mb-5 bg-dark text-white rounded h4">
                <button type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#myModalChangepass">Change Password</button>
                <button type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#myModalEditprofile">Edit Profile</button>
              </div>
          </form>
        </span>
    </div>

<!-- The Modal Edit Profile -->
<div class="modal" id="myModalChangepass">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <input type="password" class="form-control" id="oldPass" placeholder="old password"><br>
            <input type="password" class="form-control" id="newPass" placeholder="new password"><br>
            <input type="password" class="form-control" id="confirmPass" placeholder="confirm new password">
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success">Save Change</button> 
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- end Modal -->
<!-- The Modal Edit Profile -->
<div class="modal" id="myModalEditprofile">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit profile</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Name:
          <input type="text" class="form-control" id="name" value="{{user_name}}">
          Email:
          <input type="text" class="form-control" id="email" value="{{user_email}}">
          Position:
          <input type="text" class="form-control" id="position" value="{{user_position}}">
          Tel:
          <input type="text" class="form-control" id="tel" value="{{user_tel}}"> <br>

          <img type="image" class="img-circle center" src="/assets/img/man.png" style="width:25% ;height:25%"><br>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload Photo</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
          </div>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success">Save Change</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- end Modal -->



  </body>
</html>

