<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><button type="button" class="btn btn-default btnTitle" (click)="selectMyform()">Dr Forms</button> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"><button type="button" class="btn btn-default btnMenu" (click)="selectMyform()">My forms</button> 
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><button type="button" class="btn btn-default btnMenu" (click)="selectShareform()">Share forms</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><button type="button" class="btn btn-primary btnNewform" (click)="newForm(content)">New forms</button></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"><button type="button" class="btn btn-default btnUser" (click)="selectUserform()">{{user_username}}</button></a>
            </li>
            <li>
                <img type="image" [src]="user_image_url" class="rounded-circle" alt="avatar" style="width:50px ;height:50px" (click)="selectUserform()">
            </li>
            <li>
                <a class="nav-link"><button type="button" class="btn btn-danger btnNewform" (click)="logOut()">logOut</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- My Forms Row -->
      <div class="row" *ngIf="isMyform">
        <div class="col-lg-12">
          <h2 class="my-4">My Forms</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" *ngFor="let form of myForm">
        <div class="hovereffect">
          <div *ngFor="let image of form.image">
              <img class="img-responsive rounded-circle img-fluid d-block mx-auto " [src]="image.url" style="width: 200px; ;height:200px" >
          </div>
          <div class="overlay">
            <h2>{{form.title}}</h2>
            <p>
              <a>
                <button type="button" class="btn btn-default imgBtnForm" (click)="selectForm(form.id)">
                Show Detail
                </button>
              </a>
            </p>
          </div>
          <button type="button" class="btn btn-default btnForm" (click)="selectForm(form.id)"><h3>{{form.title}}</h3></button>
        </div>
        
          <!-- <p>{{user_username}}</p> -->
        </div>

      </div>
    <!-- /.container -->
    <!-- Share Forms Row -->
    <div class="row" *ngIf="isShareform">
        <div class="col-lg-12">
          <h2 class="my-4">Share Forms</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/img/picture.png" alt="">
          <h3>Title 1
          </h3>
          <p>{{user_username}}</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/img/picture.png" alt="">
          <h3>Title 2
          </h3>
          <p>{{user_username}}</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/img/picture.png" alt="">
          <h3>Title 3
          </h3>
          <p>{{user_username}}</p>
        </div>
    </div>
    <!-- /.container -->
    <!-- User Forms Row -->
    <div class="row" *ngIf="isUserform">
        <div class="col-lg-12">
          <br>
          <app-user-form></app-user-form>
        </div>
    </div>
    <!-- /.container -->
        <!-- User Forms Row -->
    <!-- New Forms Row -->
    <div class="row" *ngIf="isNewform">
      <div class="col-lg-12">
        <br>
        <app-createform-form></app-createform-form>
      </div>
  </div>
  <!-- /.container -->
    <!-- Forms Row -->
    <div class="row" *ngIf="isForm">
        <div class="col-lg-12">
          <br>
          <app-form-form></app-form-form>
        </div>
    </div>
    <!-- /.container -->

  </div>

    



<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 bg-dark">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center text-center">

            <!-- Facebook -->
            <a class="fb-ic">
                <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x showIcon"></i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x showIcon"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x showIcon"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x showIcon"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x showIcon"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x showIcon"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2018 Copyright:
      <a text-white> drforms.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
